@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url('pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
    
}

section#cerular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 630px;
    width: 312px;
    background: url('pacote-d013/imagens/frame-iphone.png') no-repeat;
}

iframe#cell {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#butao {
    text-align: right;
}

section#butao img {
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}

section#butao img:hover {
    border: 2px solid white;
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px black;
    transition: transform 0.5s, border 0.4s;
}